.selectors {
  margin-left: 100px;
}

.selectors h2 {
  font-size: 36px;
}

.selectors h3 {
  color: #748cab;
  font-size: 24px;
}

.selectors .article .highlight {
  color: red;
}

.selectors .highlight {
  font-weight: 700;
}
